@import url(https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates&display=swap);
.hero-body,
.column,
.sidenav
header {
  font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hero {
  background-image: url('https://source.unsplash.com/dGxOgeXAXm8');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
}
